@font-face {
  font-family: "Open Dyslexic";
  src: url("fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("fonts/OpenDyslexic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url("fonts/OpenDyslexic-Bold.woff2") format("woff2"),
    url("fonts/OpenDyslexic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --first-color: #042326;
  --second-color: #687b7d;
  --third-color: #829193;
  --fourth-color: #cdd3d4;
  --fifth-color: #f5f6f6;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--first-color);
  color: var(--fourth-color);
  margin: 0;
  overflow: hidden;
}

ol {
  padding-left: 18px;
}

ul {
  list-style-type: square;
}

button {
  cursor: pointer;
}

/* Beginning Of Nav Styling */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background-color: var(--first-color);
  border-top: 2px solid var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.nav-button {
  fill: var(--third-color);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-button:hover {
  fill: var(--fourth-color) !important;
}

.nav-button svg {
  width: 48px;
}
/* End Of Nav Styling */

/* Beginning Of Pages Styling */
.pages-container {
  position: fixed;
  left: 0;
  -webkit-transition: left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  padding: 0;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 250px;
  overflow: auto;
}

.page:nth-of-type(2) {
  left: 100vw;
}

.page:nth-of-type(3) {
  left: 200vw;
}

.page:nth-of-type(4) {
  left: 300vw;
}

.page-title {
  font-size: 2.25rem;
  margin: 50px 0 20px;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 2px;
  background-color: var(--fourth-color);
  color: var(--first-color);
  font-weight: bold;
  white-space: nowrap;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.link.hovered {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.page-text {
  line-height: 1.25;
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
}

.page-text b {
  font-family: "Arial Black", sans-serif;
}

.page-text svg {
  height: 15px;
  fill: var(--fourth-color);
  position: relative;
  top: 2px;
}

#submitted-text {
  line-height: 1.25;
  margin-top: 70px; /* same as height of #top-blur-for-focus-line */
}

.paragraph {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.paragraph:not(.paragraph:first-of-type) {
  text-indent: 1.5rem;
}

.blurred-paragraph {
  color: transparent;
  text-shadow: 0 0 10px rgba(205, 211, 212, 0.5);
}

#container-for-focus-line {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: -20px; /* Negative value of padding-left of .page */
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#top-blur-for-focus-line {
  background-color: rgb(4, 35, 38, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  height: 70px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

#focus-line {
  background-color: transparent;
}

#bottom-blur-for-focus-line {
  background-color: rgb(4, 35, 38, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#wrapper-for-line-mode-buttons,
#wrapper-for-paragraph-mode-buttons {
  display: none;
  text-align: center;
}

#up-button-for-line-mode,
#up-button-for-paragraph-mode {
  position: fixed;
  top: 5px;
  width: 50px;
  fill: var(--fourth-color);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#down-button-for-line-mode,
#down-button-for-paragraph-mode {
  position: fixed;
  width: 50px;
  bottom: 67px; /* Same as height of nav + border of .nav + top of #up-button-for-line-mode/up-button-for-paragraph-mode */
  fill: var(--fourth-color);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.editor-container:focus-within {
  outline: 4px dashed var(--fourth-color);
  outline-offset: 2px;
}

.editor-buttons-container {
  height: 30px;
  background-color: var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editor-button {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  border: none;
  border-bottom: 1px solid var(--first-color);
  background-color: var(--fourth-color);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.editor-button:not(.editor-button:last-of-type) {
  border-right: 1px solid var(--first-color);
}

.editor-button:active {
  color: var(--fourth-color);
}

.editor-button svg {
  height: 11px;
  fill: var(--first-color);
}

#editor {
  width: 100%;
  height: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--fifth-color);
  color: var(--first-color);
  overflow: auto;
  padding: 8px;
}

#editor:focus-visible {
  outline: none;
}

.submit-and-kofi-buttons-container {
  position: relative;
}

#submit-button {
  position: relative;
  width: 75px;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  border: 1px solid;
  background-color: var(--first-color);
  color: var(--fourth-color);
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#submit-button:active {
  top: 2px;
}

.kofi-button {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  right: 0;
  margin-top: 20px;
  border: 1px solid;
  padding: 0 12px;
  color: var(--fourth-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.kofi-button.hovered {
  opacity: 0.75;
}

#kofi-button-text {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.kofi-image {
  display: none;
  position: relative;
  top: 50%;
  height: 15px;
  margin-right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation: kofiImageWiggle 3s infinite;
  animation: kofiImageWiggle 3s infinite;
}

@-webkit-keyframes kofiImageWiggle {
  0% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }

  60% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }

  75% {
    -webkit-transform: rotate(0) scale(1.12) translateY(-50%);
    transform: rotate(0) scale(1.12) translateY(-50%);
  }

  80% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-50%);
    transform: rotate(0) scale(1.1) translateY(-50%);
  }

  84% {
    -webkit-transform: rotate(-10deg) scale(1.1) translateY(-50%);
    transform: rotate(-10deg) scale(1.1) translateY(-50%);
  }

  88% {
    -webkit-transform: rotate(10deg) scale(1.1) translateY(-50%);
    transform: rotate(10deg) scale(1.1) translateY(-50%);
  }

  92% {
    -webkit-transform: rotate(-10deg) scale(1.1) translateY(-50%);
    transform: rotate(-10deg) scale(1.1) translateY(-50%);
  }

  96% {
    -webkit-transform: rotate(10deg) scale(1.1) translateY(-50%);
    transform: rotate(10deg) scale(1.1) translateY(-50%);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }
}

@keyframes kofiImageWiggle {
  0% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }

  60% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }

  75% {
    -webkit-transform: rotate(0) scale(1.12) translateY(-50%);
    transform: rotate(0) scale(1.12) translateY(-50%);
  }

  80% {
    -webkit-transform: rotate(0) scale(1.1) translateY(-50%);
    transform: rotate(0) scale(1.1) translateY(-50%);
  }

  84% {
    -webkit-transform: rotate(-10deg) scale(1.1) translateY(-50%);
    transform: rotate(-10deg) scale(1.1) translateY(-50%);
  }

  88% {
    -webkit-transform: rotate(10deg) scale(1.1) translateY(-50%);
    transform: rotate(10deg) scale(1.1) translateY(-50%);
  }

  92% {
    -webkit-transform: rotate(-10deg) scale(1.1) translateY(-50%);
    transform: rotate(-10deg) scale(1.1) translateY(-50%);
  }

  96% {
    -webkit-transform: rotate(10deg) scale(1.1) translateY(-50%);
    transform: rotate(10deg) scale(1.1) translateY(-50%);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) translateY(-50%);
    transform: rotate(0) scale(1) translateY(-50%);
  }
}

/* Beginning Of Styling For Dropdown Menus */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0 10px;
}

.grid-cell-title,
.preview-title {
  margin: 0 0 0.3125rem;
  font-size: 1.25rem;
}

.grid-cell {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 25px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-items {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}

.select-items:after {
  position: absolute;
  content: "";
  bottom: -100px;
  height: 100px;
  width: 1px;
}

.select-selected {
  background-color: var(--first-color);
}

.select-selected:after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: 12px;
  border: solid var(--fourth-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.select-items div,
.select-selected {
  color: var(--fourth-color);
  padding: 8px 16px;
  border: 1px solid var(--fourth-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-items div {
  border-top: none;
  opacity: 0;
  background-color: var(--first-color);
}

.select-hide {
  visibility: hidden;
}

.select-items div:hover,
.select-items .same-as-selected {
  background-color: var(--second-color);
}

.show-menu-item {
  -webkit-animation: showMenuItem 0.3s ease-in-out forwards;
  animation: showMenuItem 0.3s ease-in-out forwards;
}

@-webkit-keyframes showMenuItem {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes showMenuItem {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* End Of Styling For Dropdown Menus */

#preview-content {
  line-height: 1.25;
  padding-bottom: 250px;
}
/* End Of Pages Styling */

/* MEDIA QUERIES */

@media screen and (min-width: 280px) {
  .kofi-image {
    display: inline-block;
  }
}
@media screen and (min-width: 475px) {
  .page {
    padding: 0 10vw 250px;
  }

  #container-for-focus-line {
    margin-left: -10vw;
  }

  .grid-cell.grid-cell-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .grid-cell.grid-cell-right {
    position: relative;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .custom-select-container {
    position: absolute;
    right: 0;
  }

  .custom-select {
    width: 185px;
  }
}

@media screen and (min-width: 575px) {
  #kofi-button-text:after {
    content: " on Ko-fi";
  }

  .custom-select {
    width: 220px;
  }
}

@media screen and (min-width: 750px) {
  .page {
    padding: 0 15vw 250px;
  }

  #container-for-focus-line {
    margin-left: -15vw;
  }
}

@media screen and (min-width: 990px) {
  .page {
    padding: 0 20vw 250px;
  }

  #container-for-focus-line {
    margin-left: -20vw;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    padding: 0 25vw 250px;
  }
}
